.details-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.details-content {
    background: #fff;
    padding: 15px;
    border-radius: 8px;
    width: 850px;
    height: 480px;
}

.tab-content {
    padding: 10px;
    width: 95%;
    height: 300px;
    margin: 40px auto;
}

.details-navbar {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.details-navbar button {
    padding: 10px;
    background: none;
    border: none;
    font-size: 16px;
    cursor: pointer;
    color: black;
    border-bottom: 2px solid transparent;
}

.details-navbar button.active {
    border-bottom: 2px solid #007bff;
}


