.about-container {
    margin: 150px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.passage {
    max-width: 1000px;
    margin-top: 80px;
    text-align: center;
}

.passage p {
    text-align: justify;        
}
