
.menu-bar {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #d6bffe;
  padding: 10px 10px;
  color: white;
  box-shadow: 0px 4px 10px rgba(161, 129, 235, 0.2);
  z-index: 100;
}

.left-nav {
  width: 200px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.menu-icon {
  font-size: 26px;
  color: white;
  cursor: pointer;
  transition: transform 0.3s ease, color 0.3s ease;
}
.x-icon {
  font-size: 32px;
}


.icon-logo {
  display: flex;
  align-items: center;
}

.g-logo {
  width: 50px;
  height: 50px;
}

.gms {
  font-size: 35px;                       
  font-weight: bold;                        
  color: #f1ccfa; 
  margin-left: 10px;      
  -webkit-text-stroke: 0.5px black; 
}

.right-nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.right-nav ul li {
  margin: 0 15px;
}

.right-nav ul li a {
  color: #ffff;
  text-decoration: none;
  font-size: 22px;
  font-weight: 700;
  transition: color 0.3s ease;
}

.right-nav ul li a:hover {
  color: #9d4edd;
  font-size: 20.5px;

}



  