.close{
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: end;
}

.close:hover{
  font-weight: bolder;
  cursor: pointer;

}
.line {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}