
.add-edit {
  background-color: white;
  padding: 50px 30px;
  border-radius: 8px;
  max-width: 900px;
  width: 100%;
  height: 450px;
  position: relative;
  z-index: 1000;
}

.add-edit input,
.add-edit textarea {
  width: 100%;
  padding: 10px;
}

.add-edit-content{
  margin: 0 auto;
  width: 800px;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}







